@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

#sidebar {
  height: 100vh;
  width: 21%;
}

#sidebar {
  background: #fff;
  color: #fff;
  transition: all 0.3s;
}

.link-button {
  box-shadow: 0px 0px 12px -2px;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  border: px solid rgb(250, 250, 249);
  color: #145e77;
  padding-left: 11px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  text-align: left;
  cursor: pointer;
  height: 60px;
  width: 95%;
}

.mainscreen-button {
  box-shadow: 0px 0px 12px -2px;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
  background-color: rgb(186, 216, 186);
  border: px solid rgb(250, 250, 249);
  color: #145e77;
  padding-left: 11px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  text-align: center;
  cursor: pointer;
  height: 60px;
  width: 200px;
}

.link-button:hover {
  background-color: #c54d85;
  color: rgb(8, 8, 8);
}
.link-button:focus {
  background: #f1f5ef;
  top: 1px;
  color: rgb(3, 3, 3);
}

.button-icon {
  padding-right: 10px;
}
.button-text {
  margin-top: 3px;
}

@media (max-width: 672px) {
  #sidebar {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 672px) {
  .link-button {
    width: 100%;
  }
}

