@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

#sidebar {
  height: 100vh;
  width: 21%;
 
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #faf8f8;
  color: #fff;
  transition: all 0.3s;
}

.link-button {
  box-shadow: 0px 0px 12px -2px;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
  background-color: #342a35;
  border: 3px solid rgb(221, 178, 37);
  color: #ffffff;
  padding-left: 11px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  text-align: left;
  cursor: pointer;
  height: 60px;
  width: 308px;
}
.link-button:hover {
  background-color: #c54d85;
  color: black;
}
.link-button:focus {
  background: #f1f5ef;
  top: 1px;
  color: black;
}

.button-icon {
  padding-right: 10px;
}
.button-text {
  margin-top: 3px;
}

@media (max-width: 672px) {
  #sidebar {
    height: 100%;
    width: 100%;
  }
}
@media (max-width: 672px) {
  .link-button {

    width: 100%;
  }
}
@media (max-width: 400px) {
  #sidebar {
   margin-left: 20px;
  }
}
