@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

body {
  font-family: 'Poppins', sans-serif;
  background: white;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.6rem;
}

.global-min-width {
  min-width: 339px;
}

.table-color {
  color: #513858;
}

.edit-icon-color {
  color: rgb(20, 174, 212);
}
.delete-icon-color {
  color: rgb(194, 34, 34);
}

.side-icon-color {
  color: rgb(245, 102, 197);
}

.set-cursor {
  cursor: pointer;
}

.login {
  min-width: 350px;
}

.main-content {
  background-color: #ffff;
}

@media (max-width: 672px) {
  #main-content {
    width: 100%;
  }
}

@media (max-width: 672px) {
  #product-images {
    width: 50px;
    height: 50px;
  }
}
